body {
      font-family: Arial, sans-serif;
      max-width: 600px;
      margin: 40px auto;
      padding: 20px;
      border: 2px solid #c91919;
      border-radius: 10px;
    }
    input {
      padding: 10px;
      margin: 5px 0;
      width: 100%;
      box-sizing: border-box;
    }
    button {
      padding: 10px;
      width: 100%;
      background-color: #521313;
      color: rgb(255, 255, 255);
      border: none;
      margin-top: 10px;
      cursor: pointer;
    }
    button:hover {
      background-color: #0056b3;
    }
    .output {
      margin-top: 20px;
      white-space: pre-wrap;
      background-color: #106ac5;
      padding: 15px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }