   .personal-data {
        background-color: #ccb9c7;
        padding: 20px;
        margin: 20px 0;
        border-radius: 8px;
        border: 2px solid #183553;
        color: black
    }
    
    .output {
        background-color: #6e859c;
        padding: 15px;
        margin: 10px 0;
        border-radius: 5px;
        font-family: 'Courier New', monospace;
        border-left: 4px solid #1612d6;
    }
    
    .button {
        background-color: #791446;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 5px;
    }
    
    .button:hover {
        background-color: #bac7d6;
    }